* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(208, 244, 254, 0.66);
}

.weather {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  background-image: url("img/day.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  color: white;
}

.weather__left-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.weather__date-time {
  font-size: 30px;
}
.weather__sunrise {
  font-size: 20px;
}
.weather__current-time {
  font-size: 50px;
}
.weather__humidity {
  font-size: 20px;
}
.weather__pressure {
  font-size: 20px;
}
.weather__wind {
  font-size: 20px;
}

.weather__right-container {
  align-self: flex-end;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.weather__temperature {
  font-size: 30px;
}
.weather__feels-like {
  font-size: 20px;
}
.weather__description {
  font-size: 30px;
  text-transform: capitalize;
}
.weather__sunset {
  font-size: 20px;
}
.weather__refresh {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
}
